body {
    background-color: #f9ecec;
}

#zona-encabezado {
    width: 85%;
    color: #f0d9da;
    background-color: #f0d9da;
}

#zona-imagenes-1 {
    width: 85%;
    background-color: #c8d9eb;
    text-align: center;
}

#zona-cuerpo {
    width: 85%;
    color: #9AD1AA;
    background-color: #f0d9da;
}

#zona-final {
    width: 85%;
    color: #634258;
    background-color: #ecf2f9;
    font-size: 12pt;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32pt;
    color: #a35d8C;
}

.texto-encabezado {
    font-family: Verdana, Geneva, Tahoma;
    font-size: 12pt;
    color: #a35d8C;
}

img {
    width: 30%
}

.texto-cuerpo {

    font-family: Verdana, Geneva, Tahoma, sans- serif;

    font-size: 12pt;
    color: #52779e;
}

.texto-final {

    font-family: Verdana, Geneva, Tahoma, sans- serif;

    font-size: 10pt;
    font-weight: bold;
    color: #a35d8c;
}

#contenedor {
    width: 80%;
    border: 2px solid #f0d9da;
    padding: 20px;
    margin-top: 10px;
    background-color: #f0d9da;
}

#menu {
    color: #005689;
    background-color: #c8d9eb;
    padding: 10px;
    border: 1px solid #c8d9eb;
}

#menu a,
#menu a:visited {
    color: #005689;
    text-decoration: none;
    padding: 5px;
}

#menu a:hover {
    color: white;
    background-color: #007cb9;
    padding: 5px;
}

#contenido1 {
    color: #52779e;
    height: 300px;
}

#zona-imagenes-2 {
    height: 200px;
    border: 1px solid #d5eeff;
    float: right;
}

#final {
    font-family: Verdana, Geneva, Tahoma;
    font-size: 12pt;
    color: #a35d8C;
}